.book-details-container {
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.book-content-container {
    margin-top: 30px;
    margin-left: 15px;
}

.books-home-btn {
    position: absolute;
    right: 0;
    margin-right: 25px;
    margin-bottom: 45px;
}