body {
  background-color: #FFEED8;
}

.welcome-message-one,
.welcome-message-two {
font-family: 'Poiret One', cursive;
font-size: 25px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}

.App {
  text-align: center;
}



