.nav-container {
    background-color: #19647E;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.site-title {
    height: 120px; 
    width: 325px;
}

.site-design {
    /* filter: invert(27%) sepia(5%) saturate(3516%) hue-rotate(334deg) brightness(92%) contrast(91%); */
    height: 120px;
    width: 325px;
}